@font-face {
  font-family: JameelNooriNastaliqTrue;
  src: url($JameelNooriNastaliqTrue) format("truetype");
}

@font-face {
  font-family: JameelNooriNastaliqWeb;
  src: url($JameelNooriNastaliqWeb) format("woff2");
}

:root {
  /* Font Family */
  --font-family: JameelNooriNastaliqWeb, Arial, sans-serif;
  --heading-font-family: JameelNooriNastaliqWeb, Arial, sans-serif;

  /* Font Sizes */
  /* Jameel Noori 20px*/
  --base-font-size: 1.25em;

  --font-variant-ligatures: no-common-ligatures discretionary-ligatures historical-ligatures no-contextual;
}

// * {
//     font-weight: normal !important;
// }

html {
  font-variant-ligatures: var(--font-variant-ligatures);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variant-ligatures: var(--font-variant-ligatures);
}
