@font-face {
  font-family: JameelNooriNastaliqTrue;
  src: url($JameelNooriNastaliqTrue) format("truetype");
}

@font-face {
  font-family: JameelNooriNastaliqWeb;
  src: url($JameelNooriNastaliqWeb) format("woff2");
}

:root {
  --font-family: JameelNooriNastaliqWeb, Arial, sans-serif;
  --heading-font-family: JameelNooriNastaliqWeb, Arial, sans-serif;

  --font-variant-ligatures: normal
}

html {
  font-variant-ligatures: var(--font-variant-ligatures);
}

@media (prefers-color-scheme: dark) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-variant-ligatures: var(--font-variant-ligatures);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variant-ligatures: var(--font-variant-ligatures);
}
