@font-face {
  font-family: JameelNooriNastaliqTrue;
  src: url($JameelNooriNastaliqTrue) format("truetype");
}

@font-face {
  font-family: JameelNooriNastaliqWeb;
  src: url($JameelNooriNastaliqWeb) format("woff2");
}

:root {
  --font-family: JameelNooriNastaliqWeb, Arial, sans-serif;
  --heading-font-family: JameelNooriNastaliqWeb, Arial, sans-serif;

  /* Font Sizes */

  --base-font-size-smallest: 0.875em;
  --base-font-size-smaller: 1em;
  --base-font-size: 1.125em;
  --base-font-size-larger: 1.25em;
  --base-font-size-largest: 1.375em;

  /* Heading Font Sizes */
  --font-0: 1.125em;
  --font-up-1: 1.25em;
  --font-up-2: 1.375em;
  --font-up-3: 1.5em;
  --font-up-4: 1.625em;
  --font-up-5: 1.75em;
  --font-up-6: 1.875em;

  --font-variant-ligatures: normal;
  --font-feature-settings: normal;

}

html {
  font-variant-ligatures: var(--font-variant-ligatures);
}

.extra-info-wrapper .topic-link {
  overflow: initial;
  margin-top: 0.875em;
}

@media (prefers-color-scheme: dark) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-variant-ligatures: var(--font-variant-ligatures);
    font-feature-settings: var(--font-feature-settings);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variant-ligatures: var(--font-variant-ligatures);
  font-feature-settings: var(--font-feature-settings);

}
